h1, .h1{
    text-transform: uppercase;
    font-size: xx-large;
}

h2, .h2{
    text-transform: uppercase;
    font-size: large;
}


h3, .h3{
    text-transform: uppercase;
}

.s{
    font-size: small;
}


.smaller{
    font-size: smaller;
}
